<div class="actions-container">
  <mat-card class="action-card" routerLink="/journal">
    <mat-card-header>
      <mat-icon mat-card-avatar>edit_document</mat-icon>
      <mat-card-title>Write in Journal</mat-card-title>
      <mat-card-subtitle>Reflect on your day</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card class="action-card" routerLink="/sessions">
    <mat-card-header>
      <mat-icon mat-card-avatar>calendar_month</mat-icon>
      <mat-card-title>Book a Session</mat-card-title>
      <mat-card-subtitle>Schedule your next appointment</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
